<div
  class="alert alert-danger" 
  role="alert" 
  *ngIf="failedLogin">
  {{ errorMessage ? 'User not registered' : 'Oops, something happened while Logging you in'}}
</div>
<section class="flex-center main-container">
  <button 
    type="button" 
    class="btn btn-outline-primary" 
    id="signup-btn"
    (click)="navigateSignup()">
      SIGNUP
  </button>
  <img src="../../../../assets/images/logo.png" alt="Links Logo">
  <app-authentication-form 
    [origin]="origin"
    [loading]="loading"
    (valueResponse)="loginUser($event)">
  </app-authentication-form>
</section>
