@import './src/styles/mixins/common';

.main-container {
  flex-direction: column;
  @include complete-position();
}
.alert {
  z-index: 1 !important;
}
#signup-btn {
  position: absolute;
  top: 50px;
  right: 110px;
  @include custom-width-height(168px, 64px);
}