<div 
  [ngClass]="{'alert-success': successRegister, 'alert-danger': failedRegister}"
  class="alert" 
  role="alert" 
  *ngIf="successRegister || failedRegister">
  {{successRegister ? 'Successfully Registration' : 'Oops, something happened while registering you'}}
</div>
<section class="flex-center main-container">
  <button 
    type="button" 
    class="btn btn-outline-primary" 
    id="login-btn"
    (click)="navigateLogin()">
      LOGIN
  </button>
  <img src="../../../../assets/images/logo.png" alt="Links Logo">
  <app-authentication-form 
    [origin]="origin"
    [loading]="loading"
    (valueResponse)="registerUser($event)">
  </app-authentication-form>
</section>